.square {
  display: flex; /* Change to flex */
  align-items: center;
  justify-content: center;
  width: 22vh;
  height: 22vh;
  border-radius: 4.2vh;
  background: radial-gradient(50% 50% at 50% 50%, #2e2876 0%, #430099 100%);
  cursor: pointer;
}

.card-default {
  box-shadow: 0px 0px 8px #7d23f4, 0px 0px 14px #430099, 0px 0px 0px #430099,
    0px 0px 10px #430099, 0px 0px 10px #aa96e4, 0px 0px 10px #aa96e4; /* Add a drop shadow here */
}

.matched-card {
  box-shadow: 0px 0px 8px #02d685, 0px 0px 14px #02d685, 0px 0px 0px #02d685,
    0px 0px 10px #02d685, 0px 0px 10px #02d685, 0px 0px 10px #02d685; /* Add a drop shadow here */
}

.card-picture {
  width: 17.5vh;
  height: 17.5vh;
  opacity: 1;
  transition: opacity 0.4s ease;
  scale: 0.85;
  /* Remove the top and left properties */

  /* disable drag */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.invert {
  transform: scale(-1, 1);
}
.shiny {
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    width: 20%;
    height: 100%;
    position: absolute;
    left: auto;
    top: 0;
    bottom: 0;
    right: -20%;
    background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.233),
      rgba(255, 255, 255, 0)
    );
  }
  &:hover {
    color: white;
    box-shadow: 0 5px 20px #e1f6ff;

    &:after {
      transition: all 0.4s ease-out;
      right: 100%;
    }
  }
}

.disable-div {
  pointer-events: none;
}
