body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.swal-custom-style {
  background-color: #2f3336;
  color: white;

  .swal2-confirm {
    background-color: #7d23f4; /* Set the button background color */
    color: white; /* Set the button text color */
    font-weight: 400;
    /* Add any other button styling you want */
  }
}
